body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e0e0e0;
    margin: 0;
}

h1 {
    margin: 10px;
}

.grid {
    position: relative;
    width: 560px;
    height: 300px;
    border: solid 1px black;
    margin-top: 20px;
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blueviolet;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blue;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}
